<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://icecreamratingsservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bbe066c7-8c25-43c6-99e4-bef432a44e7d/resourceGroups/OpenHackRG/providers/Microsoft.Web/sites/IceCreamRatingsService</ResourceId>
    <UserName>$IceCreamRatingsService</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://icecreamratingsservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>